<footer>
	<p>
	    <i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/mhmtayberk">Github</a> |
	    <i class="fa fa-twitter" aria-hidden="true"></i> <a href="https://twitter.com/mhmtayberk">Twitter</a> |
	    <i class="fa fa-linkedin-square" aria-hidden="true"></i> <a href="https://www.linkedin.com/in/mhmtayberk/">LinkedIn</a>
	</p>
</footer>
<script src='{{site.baseurl}}/assets/js/site.js' id="pill_site_script" type='module'></script>
<link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
