<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div id="indicator"></div>
    <div id="page">
      <style>
        .title {
          padding: 5%;
          color: #101417;
          font-size: 18px;
          font-weight: bold;
          text-align: center;
          background: #08CACA;
          display: grid;
        }
        .meta {
          font-size: 0.7rem;
          font-weight: normal;
          text-transform: uppercase;
        }
      </style>
      <!-- header -->
      {% include header.html %}
      <!-- nav -->
      {% include nav.html %}
      <!-- page content -->
      <main class="post-list">
        <p class="title">~/posts</p>
        <p style="font-size: "13px">Post Lang. : <p id="showEN">[EN]</p> | <p id="showTR">[TR]</p> </p>
        {{content}}
      </main>

      <!-- footer -->
      {% include footer.html %}
    </div>
  </body>
</html>
