<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">
  {% include head.html %}
  <body>
    <div id="indicator"></div>
    <div id="page">
      <style>
        .title {
          padding: 5%;
          color: #101417;
          font-size: 28px;
          font-weight: bold;
          text-align: center;
          background: var(--theme-color);
          display: grid;
        }
      </style>
      <!-- header -->
      {% include header.html %}
      <!-- nav -->
      {% include nav.html %}
      <!-- page content -->
      <main class="content">
        <h1 class="title">{{page.title}}</h1>
        {{content}}
      </main>

      <!-- footer -->
      {% include footer.html %}
    </div>
  </body>
</html>
